* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body {
  background-color: #F78E69;
  font-family: sans-serif;
}

header {
  width: 100%;
  height: 200px;
  text-align: right;
  font-size: 30px;
  color: white;
  padding: 30px;
}

header p {
  font-size: 20px;
}

img {
  width: 100%;
}

.panda {
  width: 100%;
  height: 700px;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  filter: grayscale(100%); 
}

.panda.uno {
  background-image: url(../img/uno.jpg);
}

.panda.dos {
  background-image: url(../img/dos.jpg);
  background-position: center;
}

.panda.tres {
  background-image: url(../img/tres.jpg);
  background-position: center;
}

.bottom {
  width: 100%;
  height: 50px;
}

.about {
  width: 100%;
  height: 400px;
  background-color: #ABE188;
  text-align: center;
}

.about h1 {
  padding: 20px;
}

.about p {
  font-size: 15px;
}

.about-info {
  width: 100%;
  height: auto;
  background-color: #F78E69;
  color: white;
  padding: 15px;
  margin-top: 100px;
}

.pictures {
  background-color: #ABE188;
}

.pictures h1 {
  text-align: center;
  font-size: 50px;
  color: white;
  padding: 20px 0;
}

.pictures img {
  border: 10px solid white;
  margin: 20px 0;
}

footer {
  text-align: right;
}

footer p {
  width: 100%;
  font-size: 18px;
  font-weight: bold;
  color: white;
  padding: 20px;
}